.load-button {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    box-shadow: 0 0 4px .5px white;
}

.load-button:hover {
    box-shadow: 0 0 4px 1px white;
}

.load-button:active {
    box-shadow: inset 0 0 4px 1px white;
}

.load-input{
    display: none;
}