.tle-params-container {
    z-index: 10;
    color: var(--text-color);
    font-size: 0.9em;
    margin-top: 2px;
    margin-left: 2px;
    background: var(--main-color);
    position: absolute;
    /*width: 18%;*/
    /*min-width: 270px;*/
}
.tle-params__title {
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 4px .5px var(--text-color);
    user-select: none;
}
.tle-params__open-tle {
    box-shadow: none;
    background: none;
    font-size: 1em;
    display: grid;
    grid-template-columns: 93% 7%;
    cursor: pointer;
}

.tle-params__open-tle-button {
    transition: all 0.3s;
    justify-self: center;
    align-self: center;
}

.tle-params__table {
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}

.tle-params__table-row {
    display: grid;
    grid-template-columns: 50% 50%;
}

.tle-params__table-item {
    box-shadow: 0 0 3px .5px var(--text-color);
    padding: 5px;
    font-size: 0.7em;
    /*overflow-wrap: break-word;*/
}

.tle-open-enter {
    opacity: 0.01;
}

.tle-open-enter.tle-open-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.tle-open-leave {
    opacity: 1;
}

.tle-open-leave.tle-open-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

@media screen and (max-width: 900px)  {
    .tle-params-container {
        font-size: 0.8em;
    }
}