.tle-params-container {
    z-index: 10;
    color: white;
    font-size: 17px;
    margin-top: 2px;
    margin-left: 2px;
    background: black;
    position: absolute;
    width: 18%;
    min-width: 270px;
}
.tle-params__title {
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 4px .5px white;
}
.tle-params__open-tle {
    color: white;
    background: none;
    font-size: 18px;
    width: 100%;
    height: 100%;
}
.tle-params__open-tle:hover {
    box-shadow: 0 0 4px 1px white;
}

.tle-params__open-tle:active {
    box-shadow: inset 0 0 4px 1px white;
}

.tle-params__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.tle-params__table * {
    display: flex;
    width: 100%;
}

.tle-params__table-item {
    box-shadow: 0 0 4px .5px white;
    padding: 5px;
    /*overflow-wrap: break-word;*/
}

.tle-open-enter {
    opacity: 0.01;
}

.tle-open-enter.tle-open-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.tle-open-leave {
    opacity: 1;
}

.tle-open-leave.tle-open-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}