:root {
    --main-color: #3c3f40;
    --select-color: #2b2b2b;
    --good-color: #569141;
    --error-color: #c5534f;
    --warning-color: #bc8d3e;
    --text-color: #eaeaea;
    --button-color: #585a5c;
    --button-active-color: #4175af;
}