.add-station {
    display: flex;
    flex-direction: column;
}

.add-station * {
    margin-bottom: 5px;
}

.add-station__label {
    display: grid;
    grid-template-columns: 50% 50%;
}

.add-station__button {

}
