html {
 overflow-x: hidden;
}

.app {
    height: 100%;
    font-family: Sans-Serif;
    font-size: 1.5rem;
    width: 100%;
}
button {
    border: 1px solid var(--main-color);
    border-radius: 3px;
    background-color: var(--button-color);
    box-shadow: 0 0 1px .5px var(--text-color);
    color: var(--text-color);
    padding: 2.5px;
    transition: all 70ms;
}
button:hover {
    box-shadow: 0 0 4px 1px var(--text-color);
}
button:active {
    box-shadow: inset 0 0 15px 1px var(--select-color);
    transform: translateY(1px);
}
button:disabled {
    background-color: var(--select-color);
    opacity: 0.7;
}
button:disabled:hover {
    box-shadow: none;
}

.scene {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.map3d {
    position: absolute;
    width: 8000px;
    height: 4000px;
    /*visibility: hidden;*/
    left: -8000px;
    top: -4000px;
    z-index: 1;
}

.map2d {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hide-layer {
    visibility: hidden;
}

.control-container {
    top: 2px;
    right: 2px;
    position: absolute;
    display: flex;
    z-index: 11;
}

@media screen and (max-width: 850px){
    .app {
        font-size: 1rem;
    }
}
