.date-container {
    position: absolute;
    width: 510px;
    top: 0;
    left: 37%;
    color: var(--text-color);
    font-size: 18px;
    margin: 10px;
    background: var(--main-color);
    box-shadow: 0 0 3px .5px var(--text-color);
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 45% 48% 7%;
    user-select: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.date-information {
    white-space: nowrap;
}

.date-input {
    font-size: 17px;
    text-align: right;
    background-color:var(--main-color);
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-input::-webkit-calendar-picker-indicator {
    background-color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}