.view-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.view-control__item {
    margin: 7px;
    display: flex;
    align-items: center;
}

.view-control__item input {
    margin-left: 3px;
}